body {
  color: #e8e8e8;
  background-color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
hr {
  width: 10rem;
  opacity: 1;
}
.hr-primary {
  border-bottom: 5px solid #f05454;
}
.hr-secondary {
  border-bottom: 5px solid #30475e;
}
.text-primary {
  color: #f05454 !important;
}
.text-dark {
  color: #222831 !important;
}
.text-modal-dark {
  color: #30475e !important;
}
.bg-dark {
  background-color: #222831;
}
.btn-dark {
  background-color: #30475e !important;
}
.bg-primary {
  background: #f05454 !important;
}
.bg-secondary {
  background-color: #e8e8e8 !important;
}

.navbar {
  border-bottom: 3px solid #f05454;
  opacity: 0.8;
}

/*
 Showcase 
*/
button {
  background-color: #30475e;
  border-radius: 20px;
  border: none;
  color: #fff;
}
#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  min-height: 85vh;
}

#showcase .showcase-info {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

#project-categories {
  background: url(../img/Projects_bg.jpg) no-repeat center center/cover fixed;
}
#project-categories .card img {
  height: 225px;
  width: 100%;
}
#project-categories .card-body {
  border-top: 4px solid #f05454;
}
/*
  Follow us
*/
#follow-us a {
  color: #e8e8e8;
}
#follow-us a:hover {
  color: #30475e;
}
/*
Conatnt
*/
#contant {
  background-color: #ccc;
}
#main-footer {
  background-color: #e8e8e8;
}
#main-footer span {
  color: #f05454;
}
/*
==============
Footer
==============
*/

#main-footer a {
  text-decoration: none;
  color: #30475e;
}
#main-footer i:hover {
  color: #f05454;
}
#contact {
  background-color: #eee;
}
